.card {
    width: 60%;
    height: 12rem;
    display: flex;
    justify-content: flex-start;
    background: white;
    margin: 1rem 5rem;
    border-radius: 0.675rem;
    overflow: hidden;


    .image {
        width: 9rem;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border;

        }
        
    }

    .orderDetails {
        margin: 0.5rem 2rem;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    

        .title {
            font-weight: bold;
        }

        .orderQuantitys {
            display: flex;
            align-items: center;

            .sizeOrder {
                margin-right: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                span {
                    margin: 0.3rem 0;
                }

                .arrow {
                    color: #886f6d;
                    cursor: pointer;
                }
            }
        }

        .cartTotals {
            span {
                margin-right: 2rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 95%;
        margin: 0.5rem 0;
        height: 8rem;

        .image {
            width: 7rem;
        }

        .orderDetails {
            margin: 0.2rem 0.5rem;
            font-size: medium;

            .cartTotals {
                span {
                    margin-right: 0.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .card {
        width: 95%;
        margin: 0.5rem 0;
        height: 8rem;

        .image {
            width: 6rem;
        }

        .orderDetails {
            margin: 0.2rem 0.5rem;
            font-size: 0.85rem;

            .cartTotals {
                span {
                    margin-right: 0.3rem;
                }
            }
        }
    }
}